@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.LoginBg{
    background-size: cover !important;
    background-position:left left !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    position: fixed;
}
h1, h4 {
    color: #fff;
}
.logo{
    padding:5vh;
    text-align: center;
    color: #fff;
    margin: 0vh 0vh 6vh 0vh;
}
.logo > img{
    width: 180px;
}

.image-div{
    margin:90px 0;
}
.adminLoginDiv{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2d3d71;
    color: #fff;
    margin:0;
    font-size: 1rem !important;
    height: 100vh;
    width: 380px;
    padding: 0vh 35px;
}
.adminLoginDiv form label{
      text-align: left !important;
      margin-bottom: 10px;
      color: #fff;
}
.form-control{
    padding: 0px 10px;
    height: 45px;
    line-height: 45px;
    font-size: 1.2rem;
}